.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all .2s;
}
a{
  text-decoration: none;
}
::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: rgba(0,0,0,.07);
}

/* 700px: 700px;
900px: 900px;
1281px: 1281px; */

.item-container{
  width: calc(25% - 2rem);
  padding: 1rem;
  text-align: center;
  display: inline-block;
  margin: 1rem;
  overflow: hidden;
  color: #333;
  position: relative;
  text-transform:capitalize;
  @media screen and (max-width: 700px) {
   width: 50%;
   margin: 0;
 }
 @media screen and (min-width: 700px) and (max-width: 900px) {
  width: calc(50% - 2rem);
}
@media screen and (min-width: 900px) and (max-width: 1281px) {
 width: calc(33.33% - 2rem);
}



 
  &:hover{
    background: #eee;
    border-radius: 15px;
    .img{
      padding: 3rem;
      cursor: pointer;
      @media screen and (max-width: 700px) {
          padding: .5rem;
       }
    }
    @media screen and (max-width: 700px) {
       background: #fff;
       border-radius: 0;
     }
  }

  .img{
    width: 100%;
    padding: 2rem;
    @media screen and (max-width: 700px) {
       padding: .5rem;
     }
  }

  .info{
    float: left;
    width: 100%;
    font-size: 1.1rem;
  }
  h1{
    text-transform: capitalize;
    color: #333;
      cursor: pointer;
      @media screen and (max-width: 700px) {
       font-size: 1.2rem;
     }
  }
  h2{
    @media screen and (max-width: 700px) {
       font-size: 1rem;
     }
  }
  button{
    border: none;
    background: #e55;
    color:#fff;
    padding:.7rem;
    width: 100%;
    margin: .5rem .5rem 0 0;
    outline: none;
    cursor: pointer;
    @media screen and (max-width: 700px) {
      width: 100%;
       margin: .2rem 0;
     }

    

    &:hover{
      background: #ccc;
      color: #e55;
      @media screen and (max-width: 700px) {
          background: #e55;
          color: #fff;
       }
    }
    &:disabled{
      background: #ddd;
      color: #e55;
      cursor: not-allowed;
    }
  }
}
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Neucha');


.list-container {
  display:block;
  width: 80%;
  padding: 0 1rem;
  margin-top: 3.5rem;
  height:100%;
  overflow-y: auto;
  @media screen and (max-width: 700px) {
   width: 100%;
   margin-top: 4rem;
   padding-bottom: 30vh;
 }
 @media screen and (min-width: 700px) and (max-width: 900px) {
  width: 70%;
}

 &.lg {
   width: 100%;
 }
}
.popup{
  position: fixed;
  z-index: 10;
  height: auto;
  width: 19%;
  overflow: auto;
  max-height: calc(100% - 5rem);
  transition: .5s all;
  background: #eee;
  color: #06386d;
  top: 20rem;
  right: 1%;
  padding: .5rem 1rem;
  border-radius: 5px;
  box-shadow: 2px 2px 7px #ccc;
  font-family: 'Neucha', cursive;
  letter-spacing: 1px;
  line-height: 1.5;
  @media screen and (min-width: 700px) and (max-width: 900px) {
   width: 29%;
  }
  @media screen and (max-width: 700px) {
   top:auto;
   left: 0;
   bottom: 0;
   right: 0;
   box-shadow: none;
   width: 100%;
   max-height: 30vh;
   overflow: auto;
   border-radius: 0;
   border: 5px solid #fff;
 }


  .cart{
    .cart_item{
      float: left;
      width: 100%;
      border-bottom: 1px dashed #ccc;
      padding: 5px 0;

      &:last-child{
        border: none;
      }

      h3{
        float: left;
        width: auto;
        font-size:1rem;
        &:last-child{
          float: right;
        }
      }

    }
  }



  .final_price{
    border-top: 2px dashed #222;
    padding: 1rem 0;
    float: left;
    width: 100%;
    h3{
       font-size:1rem;
      float: left;
      width: auto;
      &:nth-child(even){
        float: right;
      }
    }

    .cart_item{
      border: none;
      float: left;
      width: 100%;
    }
  }

}

.order_btn{
  border: none;
  outline: none;
  background: salmon;
  color: #fff;
  margin: 1rem;
  width: calc(100% - 2rem);
  padding: .8rem;
  text-transform: capitalize;
  font-size: 1.1rem;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
}
.thank_you{
  position: fixed;
  z-index: 15;
  background: #eee;
  text-transform: capitalize;
  text-align:center;
  top: 0;
  left: 0;
  padding: 5rem;
  height: 100%;
  width: 100%;
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  @media screen and (max-width: 700px) {
   font-size: 2rem;
   padding: 2rem;
 }
  h1{
    width: 100%;
    float: left;
  }
  p{
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    @media screen and (max-width: 700px) {
       font-size: 1.2rem;
     }
  }
  .order_btn{
    width: auto;
    padding: 1rem 2rem;
    @media screen and (max-width: 700px) {
       padding: .7rem 1rem;
     }
  }
}
.navbar{
  float: left;
  width: 96%;
  margin: 0 2%;
  padding: .8rem 0;
  /* // background: #333;
  // color: #fff;
  // text-align: right; */
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  color: #e55;
  text-align: center;
  z-index: 10;
  background: #fff;
  box-shadow: 0 8px 10px -6px rgba(0, 0, 0, .2);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  @media screen and (max-width: 700px) {
   padding: .7rem;
   width: 100%;
   margin: 0;
 }

  .logo{
    /* // position: absolute;
    // left: 2rem;
    // top: 50%;
    // transform:  translateY(-50%); */
    display: inline-block;
      @media screen and (max-width: 700px) {
       float: left;
     }
    img{
      transform: rotate(-10deg);
      width: 2rem;
      float: left;

    }
    h1{
      float: left;
      padding: 0 .7rem 0;
      font-size: 1.5rem;
      letter-spacing: 5px;
      font-family: 'Righteous', cursive;
      @media screen and (max-width: 700px) {
         font-size: 1.5rem;
         padding-top: 0;
       }
    }
  }

  

  .popup_btn{
    position: absolute;
    top: 1rem;
    right: 3rem;
    border: none;
    cursor: pointer;
    outline: none;
    background: transparent;
    @media screen and (max-width: 700px) {
      top: .7rem;
      right: 1rem;
     }
    img{
      width: 2rem;
      height: 2rem;
      display: block;
      @media screen and (max-width: 700px) {
        width: 2rem;
        height: 2rem;
       }
    }
    span {
      height: 1.2rem;
      width: 1.2rem;
      font-size:.7rem;
      border-radius: 100%;
      background: #f9da48;
      color: #FF5722;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: -20%;
      bottom: 0;
      border: 2px solid #FFC107;
      animation: cart_num .3s;

      @media screen and (max-width: 700px) {
        height: 1.2rem;
        width: 1.2rem;
        font-size: .8rem;
       }
    }
  }
}

@keyframes cart_num {
  0%{
    transform : scale(0);
    box-shadow: 0px 0px 4px 2px #fff;
  }
  100%{
    transform: scale(1);
    box-shadow: 0px 0px 4px 10px transparent;
  }
}

.order{
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: #eee;
  color: #06386d;
  top: 0;
  right: 0;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 2px 2px 7px #ccc;
  font-family: 'Neucha', cursive;
  letter-spacing: 1px;
  line-height: 1.5;

  .cart_left{

      float: left;
      width: 70%;
      overflow: auto;
      height: calc(100vh - 10rem);
    @media screen and (max-width: 700px) {
        height:auto;
        width:100%;
      }
    .cart_item {
      width: 100%;
      float: left;
      background: #fff;
      padding: 1rem;
      border-radius: 5px;
      margin-bottom: .5rem;
      

      img {
        width: 5rem;
        float: left;
      }
      .cart_info{
        float: left;
        padding: 1rem;
        width: calc(100% - 5rem);
      }
    }
  }


  .cart_right{
    float: right;
    width: calc(30% - 1rem);
    margin:0 0 0 .5rem;
    padding: 1rem;
    background: #fff;
    border-radius: 5px;
    @media screen and (max-width: 700px) {
        margin:0;
        width:100%;
      }

    .cart_item,.final_price {
      float: left;
      width: 100%;
      padding: .5rem 0;
      h3{
        float: left;
        font-size:1rem;
        &:last-child{
          float: right;
        }
      }
    }
    .final_price{
      border-top: 2px dashed #333;
      padding: 1rem 0;
      color: #333;
      font-size: 1.5rem;
      &:first-child{
        border: none;
          padding: .5rem 0;
          color: #06386d;
          font-size: 1.1rem;
      }
    }

  
  }
}
